# API is open

# DB acesspass
# смени пароль
DB_NAME=aircraft_db
DB_USER=postgres
DB_PASSWORD=ваш пароль
DB_HOST=localhost
DB_PORT=5432

# DB acesspass
DB_NAME=aircraft_db
DB_USER=postgres
DB_PASSWORD=ваш пароль
DB_HOST=localhost
DB_PORT=5432
